html, body, #root {
  height: 100%;
}

.pf-c-content {
  --pf-c-content--small--Color: red; /* changes all <small> color to red */
  --pf-c-content--blockquote--BorderLeftColor: purple; /* changes all <blockquote> left border color to purple */
  --pf-c-content--hr--BackgroundColor: lemonchiffon; /* changes a <hr> color to lemonchiffon */
}

.w-50 {
  width: 50px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.app_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
.pf-c-page__header-brand-link:hover {
  text-decoration: none;
}
.projet-card {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-bottom: 25px;
}
.projet-card p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.action-icon-container {
  display: flex;
  align-items: center;
}
.projet-card-status {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.flex-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.flex-row > span {
  margin-left: 10px;
}

.donut-chart-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  BackgroundColor: #fff;
}

.spacer-box {
  width: 100%;
  height: 15px;
}

.pf-c-card__body {
  padding: 10px;
}

.planification-content {
  margin-left: 10px;
}

.planification-content p {
  margin-bottom: 5px;
  font-size: 0.875rem;
  text-align: left;
  font-weight: 600;
}

.body-card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-icon-img {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  bottom: -20px;
  right: -10px;
  opacity: 0.6;
}

.mr-2 {
  margin-right: 1rem;
}

.no-margin-y {
  margin-top: 0;
  margin-bottom: 0;
}

.step-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 100%;
}

.step-container-map {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
}
.map-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  height: 100%;
  BackgroundColor: #fff;
  margin-top: 160px;
}

.map-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-controls {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.map-controls-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.map-result {
  display: flex;
  align-items: center;
}

.map-result-distance {
  margin-right: 10px;

}

.map-controls_inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.map-controls_input_container {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-controls_input_container > div:first-of-type {
  width: 15%;
}

.map-controls_input_container > div:last-of-type {
  width: 83%;
}

.map-controls__button {
  display: flex;
  align-items: center;
}

.map-header {
  position: absolute;
  top: -170px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.map-header h3 {
  margin-left: 10px;
}

.maps-output {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .mobile-flex-column {
    flex-direction: column;
  }
  .mobile-m-2 {
    margin: 1.5rem;
  }
}

.day-scale-cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  cursor: pointer;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  min-height: 150px;
}

.appointment-delete-action {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.apercu_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  BackgroundColor: #fff;
}

.apercu_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.apercu_header_logo {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 900;
  color: #071237;
  font-family: 'Roboto', sans-serif;
}

.apercu_header_title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #FFF;
  background-color: #071237;
  padding: 2px 20px;
}

.apercu_body_section {
  padding: 5px 20px;
}

.apercu_body_section_title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFF;
  background-color: #071237;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.apercu_body_section_title.nomargin {
  margin-bottom: 0;
}

.apercu_body_section_subtitle {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
  background-color: #132d86;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.apercu_body_section_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.apercu_body_section_col {
  width: 48%;
}

.apercu_body_section_item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.apercu_body_section_label {
  width: 40%;
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
}

.apercu_body_section_label.big-label {
  width: 70%;
}

.apercu_body_section_value {
  width: 60%;
  font-size: 0.9rem;
  font-weight: 600;
  color: #111;
}

.apercu_body_section_value.big-label {
  width: 30%;
}

.apercu_body_section_value > input[type=text] {
  width: 140px;
  padding: 6px 15px;
  font-size: 0.9rem;
}

.apercu_body_section_values {
  display: flex;
  align-items: center;
}

.apercu_body_section_value_container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.apercu_body_section_value_container input {
  margin-left: 6px;
}

.blueColor {
  color: #071237;
}

.apercu_body_section_value_container label {
  font-size: 0.85rem;
}

.apercu_body_section_item_signature {
  margin-top: 10px;
  margin-bottom: 10px;
}
.apercu_body_section_item_signature .apercu_body_section_label {
  width: 100%;
  text-align: left;
  font-size: 0.7rem;
}
.apercu_body_section_signature {
  width: 350px;
  height: 140px;
  border: 1px solid #000;
}
.apercu_body_section_signature img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.spacer {
  height: 52px;
}
.apercu_body_section_facade {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.apercu_body_section_facade_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.apercu_body_section_facade_coteCol {
  width: 18%;
}
.apercu_body_section_facade_centerCol {
  width: 60%;
}
.apercu_body_section_facade_dessin {
  width: 100%;
  height: 450px;
  border: 1px solid #000;
}

.apercu_body_section_facade_dessin img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.apercu_body_section_facade_dessin.triangle {
  height: 300px;
}
.apercu_body_section_facade_dessin_triangle {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid #FFF;
  margin: 0 auto;
}
.apercu_body_section_facade_label {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
  text-align: center;
  margin-bottom: 10px;
}
.apercu_body_section_facade_label.align-right {
  text-align: right;
  margin-right: 10px;
}
.apercu_body_section_facade_label.align-left {
  text-align: left;
  margin-left: 10px;
}
.spacer-150 {
  height: 150px;
}
.apercu_body_section_facade_label.underbox {
  margin-top: 10px;
  margin-left: 5%;
}
.table-container {
  width: 100%;
  margin-top: 20px;
}
.apercu_body_section_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.75rem;
}
.apercu_body_section_table th {
  background-color: #071237;
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
}

.apercu_body_section_table td {
  border: 1px solid #CCC;
  padding: 4px 10px;
  text-align: center;
}

.appointment-content {
  width: 100%;
  padding: 10px 0 20px;
}

.appointment-delete-action {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-s-14 {
  font-size: 13px;
}

.bolead-header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px 15px;
}